<div class="m-5">
    <h1 class="text-2xl font-bold">Lista de empleados</h1>
    <h3 class="text-lg mt-2">Cantidad total de empleados: <strong>{{employees().length}}</strong> </h3>
    <p class="text-sm text-gray-400">Aquí tienes una lista de todos tus empleados con sus atributos</p>

    <div class="my-5">
        <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-3 w-full gap-2">
            <div class="flex gap-4 w-full justify-between lg:justify-start">
                <select-cant (value)="cantItems.set($event)" />

                @if (!wantFilter()) {
                <button (click)="wantFilter.set(!wantFilter())" class="btn btn-accent">Filtrar empleados
                    activos</button>
                }@else {
                <button (click)="wantFilter.set(!wantFilter())" class="btn btn-neutro">Limpiar filtro</button>
                }
            </div>
            <div class=""></div>
            <search-employee (query)="querySearch.set($event)" />

        </div>

        <app-employee-data [employees]="employeesPaginated() | filterActive: wantFilter()" />

        <app-navigation [pages]="cantPages()" [currentPage]="this.paginationSerice.currentPage()" />
    </div>
</div>