<div class="block lg:hidden">
    <div class="navbar bg-base-100 shadow-sm">
        <div class="navbar-start">
            <div class="dropdown">
                <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 6h16M4 12h8m-8 6h16" />
                    </svg>
                </div>
                <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
                    <li><a routerLink="listpage">Empleados</a></li>
                    <li><a routerLink="formpage">Agregar</a></li>

                    <div class="mt-5">
                        <label for="">Selecciona un tema: </label>
                        <select (change)="themeService.changeTheme(optionSelected.value)" class="select select-md"
                            #optionSelected>
                            <option disabled selected>{{themeService.theme() | titlecase}}</option>
                            <option value="dark">Dark</option>
                            <option value="forest">Forest</option>
                            <option value="dracula">Dracula</option>
                            <option value="sunset">Sunset</option>
                            <option value="coffee">Coffee</option>
                        </select>

                        <button (click)="authService.logout()"
                            class="btn btn-error mt-5 font-bold cursor-pointer hover:btn-accent w-full">Cerrar</button>
                    </div>
                </ul>
            </div>
            <a routerLink="/" class="btn btn-ghost text-xl">Empleados <span class="text-primary">IAS</span></a>
        </div>
        <div class="navbar-end">
            <span class="btn"> {{authService.user()}} </span>
        </div>
    </div>
    @if (isLoading()) {
    <div class="w-full h-screen flex justify-center">
        <span class="loading loading-ring loading-lg"></span>
    </div>
    }@else {
    <router-outlet />
    }
</div>